<div ng-controller="AnnouncementController" ng-show="isPageVisible('announcement')">
	
	<div class="row">
	  <div class="col-lg-4 col-lg-push-4 col-md-8 col-md-push-2">
	    <div>
	      <carousel interval="ann.interval">
	        <slide ng-repeat="slide in ann.slides" active="true">
	          <img ng-src="http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg" style="margin:auto;">
	          <div class="carousel-caption">
	            <h4><div ng:bind="slide.fields.title"></div></h4>
	            <p><div ng:bind="slide.fields.title"></div></p>
	          </div>
	        </slide>
	      </carousel>
	    </div>
	  </div>
	</div>
		
	<div class="row" style="margin-top: 10px;">
		<div class="col-lg-4 col-lg-push-4 col-md-8 col-md-push-2">
			<accordion close-others="false">
			    <accordion-group ng-repeat="announcement in ann.announcements">
			    	<accordion-heading>
			    		<div ng:bind="announcement.fields.title"></div>
			    	</accordion-heading>
			        <div ng:bind="announcement.fields.text"></div>
			    </accordion-group>
			</accordion>
		</div>
	</div>

</div>
