<!doctype html>
<html>
  <head>
    <title>My Angular App</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/> 
    <link rel="stylesheet" type="text/css" href="/static/css/manager.css"/> 
  </head>
  <body ng-app="managerApp" ng-controller="AppController">
  
  	<nav class="navbar navbar-default navbar-fixed-top">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Project name</a>
	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav">
	      	<li ng-repeat="menu in menus | orderBy:['position']" ng-class="{active:isSelectedMenu($index)}">
	      		<a href="#" ng-click="changeSelected($index)"><div ng:bind="menu.displayName"></div></a>
	      	</li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li><a href="#">Administration</a></li>
	        <li><a href="#">Mon Compte</a></li>
	        <li><a href="#">Se Déconnecter</a></li>
	      </ul>
	    </div>
	</nav>
  	
  	<br/><br/><br/>
  	
  	{% include "announcement.html" %}
  	{% include "calendar.html" %}
  	
  	<div id="console">
  		<alert ng-repeat="error in errors" type="danger" close="closeError($index)"><div ng:bind="error"></div></alert>
  		<alert ng-repeat="info in infos" type="success" close="closeInfo($index)"><div ng:bind="info"></div></alert>
  	</div>
  
  </body>
  
  <script src="/static/js/angular-1.3.8/angular.min.js"></script>
  <script src="/static/js/angular-1.3.8/angular-route.min.js"></script>
  <script src="/static/js/ui-bootstrap-0.12.0.js"></script>
  <script src="/static/js/app/homeController.js"></script>
  <script src="/static/js/app/announcementController.js"></script>
  <script src="/static/js/app/calendarController.js"></script>
  
  <script>
var managerApp = angular.module('managerApp',['ui.bootstrap']);

managerApp.controller('AppController', ['$scope', '$http', '$timeout', function($scope, $http, $timeout) {

  $scope.menus = [{name: "announcement", displayName: "Annonces", description: "Les annonces blabla..", position: 1},
  				  {name: "calendar", displayName: "Calendrier", description: "Le calendrier blabla..", position: 2}];
  $scope.organization = {id: 1}
  $scope.modules = {}
  $scope.selectedMenu = 0;
  $scope.isConnected = false;
  $scope.errors = [];
  $scope.infos = [];
  
  $scope.changeSelected = function (index) {
	  $scope.modules[$scope.menus[index].name].onLoad();
	  $scope.selectedMenu = index;
  }
  
  $scope.isSelectedMenu = function (index) {
	  if (index == $scope.selectedMenu) {
		  return true;
	  } else {
		  return false;
	  }
  }
  
  $scope.isPageVisible = function(pageName) {
	  if ($scope.menus[$scope.selectedMenu].name == pageName) {
		  return true;
	  } else {
		  return false;
	  }
  }
  
  $scope.logError = function(text) {
	  $scope.errors[0] = text;
  }
  
  $scope.logInfo = function(text) {
	  $scope.infos[0] = text;
  }
  
  $scope.closeError = function(index) {
	  $scope.errors.splice(index, 1);
  };
  
  $scope.closeInfo = function(index) {
	  $scope.infos.splice(index, 1);
  };
  
}]);

var announcementApp = angular.module('announcementApp',[]);

managerApp.controller('AnnouncementController', ['$scope', '$http', function($scope, $http) {
	
	$scope.ann = {};
	$scope.modules['announcement'] = $scope.ann
	$scope.ann.announcements = []
	$scope.ann.slides = []
	$scope.ann.interval = 5000;
	
	$scope.ann.loadAnnouncements = function getAnnouncements($scope, $http) {
    	$http.get('json/getAnnouncementsOfOrganization.json?id='+$scope.organization.id)
        	.success(function(data) {
        		$scope.logInfo("Les annonces ont correctement été mise à jour !");
            	$scope.ann.announcements = data;
            	$scope.ann.slides = [];
            	if (data[0] != null) {
            		$scope.ann.slides.push(data[0]);
            	}
            	if (data[1] != null) {
            		$scope.ann.slides.push(data[1]);
        		}
        	})
        	.error(function(data) {
        		$scope.logError("Erreur lors du chargement des annonces !");
        	});
	}
	
	$scope.ann.onLoad = function() {
		$scope.ann.loadAnnouncements($scope, $http);
	}
	$scope.ann.onLoad()
	
}]);

var calendarApp = angular.module('calendarApp',[]);

managerApp.controller('CalendarController', ['$scope', '$http', function($scope, $http) {
	
	$scope.cal = {};
	$scope.modules['calendar'] = $scope.cal
	
	$scope.cal.onLoad = function() {
		//todo
	}
	$scope.cal.onLoad()
	
}]);
  
  </script>
  
  
  

  
</html>